@import "../../styles/variables.scss";

.postPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .post {
        display: flex;
        padding: 4vh;
        border-radius: 1em;
        overflow-y: auto;

        .articleImg {
                width: auto;
                max-height: 35vh;
                height: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
        }

        .articleLink {
            text-decoration: underline;
        }
    }

}

@media(max-width: 768px) {
    .postPage {
        
        .post {
    
            .articleImg {
                max-height: 25vh;
                max-width: 90vw;
            }
        }
    }
}