$soft-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$hard-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

$font-large: 3em;
$font-medium: 2em;
$font-smedium: 1.5em;
$font-smedium: 1.3em;